
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title>Clothes</title>
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/product.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />

  </head>
  <body>
    <!----------------------- Hedear. --------------------------->
    <div class="header">
      <div class="header-right">
        <a class="active" href="../index.html">Home</a>
        <a class="cart" href="cart.html">Cart</a>
        <a class="about" href="about.html">AboutUs</a>
      </div>
    </div>
<!----------------------- Main body. --------------------------->
<br>

<div id="productsContainer" class="container">

  
</div>

<div id="togg" class="alert-box success"></div>
<!------------------------- footer ----------------------------->

</br>
</br>
</br>
</br>
  </br>
<footer>
 <div class="footer">
    <div class="center">
   
      </br>
<div class="foll" > <h4> follow us: </h4> </div>
<div class="face" >
      <a  href="http://www.facebook.com" target="_blank"> 
      <div class="i" > <i class="fab fa-facebook-f"></i> </div> </a>
</div>
<div class="twit" >
      <a  href="http://www.twitter.com" target="_blank"> 
      <div class="i" > <i class="fab fa-twitter"></i> </div> </a>
</div>
<div class="insta" >
      <a  href="http://www.instagram.com" target="_blank"> 
      <div class="i" > <i class="fab fa-instagram"></i> </div> </a>
</div>
<div class="yout" > 
     <a  href="http://www.youtube.com" target="_blank"> 
     <div class="i" > <i class="fab fa-youtube"></i> </div> </a>
</div>
      
    </div> 
  </br>
</br>
</br>
</br>
  
<div class="copy" >
      <p align="center">
      &copy;2021 NAV clothing shop. All Rights Reserved
      </p>
</div>
</div>
</footer>

	
    <script type="module" src="../src/productJS/C.js"></script>    
  </body>
</html>
